<!-- wp:template-part {"slug":"header","theme":"the-coffee-shop","tagName":"header"} /-->
<!-- wp:group {"layout":{"type":"constrained","contentSize":"800px"}} -->
<div class="wp-block-group">
    <!-- wp:post-title /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group">
    <!-- wp:post-featured-image /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"800px"}} -->
<div class="wp-block-group">
    <!-- wp:paragraph -->
    <p></p>
    <!-- /wp:paragraph -->
</div>
<!-- /wp:group -->
 <!-- wp:template-part {"slug":"footer","theme":"the-coffee-shop","area":"footer"} /-->