<!-- wp:template-part {"slug":"header","theme":"the-coffee-shop","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1250px"}} -->
<div class="wp-block-group">
    <!-- wp:create-block/latest-blogs /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}, "style":{"color":{"background":"#F0F3F8"}}} -->
<div class="wp-block-group has-background" style="background-color:#F0F3F8">
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
        <!-- wp:create-block/more-blogs /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"the-coffee-shop","area":"footer"} /-->