.wp-block-create-block-latest-blogs {
  .main-post {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		overflow: hidden;
		border-radius: 0.4rem;
		background-color: #F8F9FD;
		padding-bottom: 1.2rem;
		.row {
			width: 100%;
			display: flex;
			gap: 0.3rem;
		}

		.row-1 {
			.featured-img-container {
				width: 100%;
				.featured-img {
					width: 100%;
					height: auto;
					display: block;
					object-fit: cover;
				}
			}
		}

	.row-2 {
      	box-sizing: border-box;
      	padding-right: 1rem;
		padding-left: 1rem;
		.categories {
			width: 20%;
			.category-badges {
				list-style: none;
				padding: 0.3rem 0 0.4rem 0;
				margin: 0;
				display: flex;
				flex-wrap: wrap;
				gap: 0.5rem;
			}

			.category-badge {
				display: inline-block;
				padding: 5px 7px;
				font-size: 0.75rem;
				font-weight: 500;
				color: #333;
				line-height: 1;
				background-color: #f0f0f0;
				border: 1px solid #ddd;
				border-radius: 999px;
				text-transform: capitalize;
				transition: background-color 0.2s ease;
				cursor: default;
			}

			.category-badge:hover {
				background-color: #e0e0e0;
			}
		}

		.content {
			flex: 2;

			.title {
				margin: 0 0 0.5rem;
				text-wrap: wrap;

				a {
					color: #003a70;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.date {
				margin-block-start: 2px;
				color: #6e6e73;
				font-weight: 600;
			}
			.read-time {
				margin-block-start: 2px;
				margin-block-end: 2px;
				color: #6e6e73;
			}
			.excerpt {
				.read-more-link {
					text-decoration: none;
					color: #2b94f5;
				}
				margin-top: 0.75rem;
				color: #6e6e73;
			}
		}
	}

			@media (max-width: 768px) {
				.row-2 {
					flex-direction: column;
				.categories {
				.category-heading {
					display: none;
				}
				.category-badges {
					padding: 0 0 0.4rem 0;
				}
				width: 100%;
				}
				.categories,
				.content {
					max-width: 100%;
				}
			}
		}
	}
}